<div class="p-grid">
    <div class="p-col-4 p-sm-12 p-md-6 p-lg-6">
        <h1>Technologies and libraries used</h1>
        <ul>
            <li>
                Angular
            </li>
            <li>
                PrimeNg
            </li>
            <li>
                Rxjs
            </li>
        </ul>
    </div>
    <div class="p-col-8 p-sm-12 p-md-6 p-lg-6">
        <div class="p-grid">
            <div class="p-col-6">
                <h3>API</h3>
                <strong>The Movie Database</strong>
                <br>
                https://www.themoviedb.org/documentation/api
            </div>
        </div>
    </div>
</div>

<div class="p-d-flex">
    <div class="p-m-2">
        <h1>More</h1>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nostrum magni consectetur at tempora unde, corporis esse ut laboriosam. Pariatur ratione, quam porro quod eum magnam facilis vel dicta minima!
        </div>
    </div>
</div>