<div class="p-grid animate__animated animate__fadeIn" *ngIf="media">
    <div class="p-sm-8 p-md-6 p-lg-3">
        <img [src]="media.poster_path | imageRoute" 
             [alt]="media.name">
    </div>

    <div class="p-sm-8 p-md-6 p-lg-7">
        <h1> {{ media.name || media.title }} </h1>

        <div class="p-grid">
            <div class="p-col">
                <p-rating [ngModel]="media.vote_average" [readonly]="true" [stars]="10" [cancel]="false"></p-rating>
            </div>
            <div class="p-col text-start  p-as-center">
                {{ media.vote_average | number: '1.1-1' }}
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col">
                {{ media.overview }}
            </div>
        </div>

        <div class="p-d-flex p-flex-wrap p-jc-start">
            <div class="p-m-1" *ngFor="let keyword of keywords">
                <p-badge severity="danger" [value]="keyword.name"></p-badge>
            </div>
        </div>
        
        <div class="p-d-flex">
            <h2>Providers</h2>
        </div>

        <div class="p-d-flex p-flex-wrap p-jc-start">
            <div class="p-m-2" *ngIf="rent">
                <app-dialog  *ngIf="rent.length > 0" [provider]="rent" label="Rent"></app-dialog>
            </div>
            <div class="p-m-2" *ngIf="buy">
                <app-dialog *ngIf="buy.length > 0" [provider]="buy" label="Buy"></app-dialog>
            </div>
            <div class="p-m-2" *ngIf="subscription">
                <app-dialog *ngIf="subscription.length > 0" [provider]="subscription" label="Subscription"></app-dialog>
            </div>
        </div>
     
        <div class="p-d-flex">
            <div class="p-m-2">
                <button pButton
                        (click)="onBack()">
                    Regresar
                </button>
            </div>
        </div>

    </div>
</div>

<h1 class="p-d-flex p-jc-center">Casting </h1>

<div>
    <app-cast-carousel [results]="cast"></app-cast-carousel>
</div>

